@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import '~@angular/material/theming';
@include mat-core();

// Typography
$custom-typography: mat-typography-config(
  $font-family: Open Sans,
  $headline: mat-typography-level(24px, 48px, 400),
  $body-1: mat-typography-level(16px, 24px, 400)
);
@include angular-material-typography($custom-typography);

// Default colors
$my-app-primary: mat-palette($mat-teal, 700, 100, 800);
$my-app-accent: mat-palette($mat-teal, 700, 100, 800);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
@include angular-material-theme($my-app-theme);

// Dark theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
.dark-theme {
  @include angular-material-theme($dark-theme);
}

// Light theme
$light-primary: mat-palette($mat-grey, 200, 500, 300);
$light-accent: mat-palette($mat-brown, 200);
$light-warn: mat-palette($mat-deep-orange, 200);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
.light-theme {
  @include angular-material-theme($light-theme);
}

$candy-primary: mat-palette($mat-indigo);
$candy-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-warn: mat-palette($mat-red, A200);
// Create the theme object (a Sass map containing all of the palettes).
$candy-theme: mat-light-theme($candy-primary, $candy-accent, $candy-warn);
.candy-theme {
  @include angular-material-theme($candy-theme);
}

$alternate-primary: mat-palette($mat-light-blue);
$alternate-accent: mat-palette($mat-yellow, 400);

$alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
.alternate-theme {
  @include angular-material-theme($alternate-theme);
}

// @import '~@angular/material/theming';
// // always include only once per project
// @include mat-core();
// // import our custom themes
// @import 'my-theme.scss';
// @import 'my-light-theme.scss';
// @import 'my-dark-theme.scss';

// .my-theme {
//   @include angular-material-theme($my-theme);
// }

// // additional css classes
// // you can hardcode one of them on the <body> tag
// // or switch dynamically during runtime with [class]
// .my-light-theme {
//   @include angular-material-theme($my-light-theme);
// }

// .my-dark-theme {
//   @include angular-material-theme($my-dark-theme);
// }
