.default:hover {
  background: #2c796b !important;
  color: #fff !important;
}
.dark:hover {
  background: #607d8b !important;
  color: #fff !important;
}
.light:hover {
  background: #eeeeee !important;
  color: #000 !important;
}
.candy:hover {
  background: #3f51b5 !important;
  color: #fff !important;
}
